* {
	margin: 0;
	padding: 0;
}

p {
	background-color: black;
	color: white ;
}

header{
	padding: 2% 5% 2% 5%;
	display: flex;
	justify-content: space-around;
	background-color: black;
	border: 1px solid red;
}

nav{
	width: 70%;
	justify-content: space-around;
	border: 1px solid red;
}

ul{
	border: 1px solid white;
}

li{
	display: inline;
	border: 1px solid yellow;
}

a{
	font-family: sans-serif;
	text-decoration: none;
	color: white;
	font-size: 150%;
}

a:hover{
	color: red;
}

section img{
	padding-left: 8.5%;
}

section p{
	padding-left: 2%;
	font-size: 130%;
}

footer.pie p{
	background-color: grey;
	text-align: center;
	font-size: 100%;
	color: black;
}


h1.galeria{
	padding-left: 35%;
	font-size: 300%;
}

div.galeria{
	padding-left: 12%;
}

img.example-image{
	padding:  1%;
	padding-left: 6%;
}